<!DOCTYPE html>
<html lang="en">

<head>
    <style>
        .switch {
            position: relative;
            display: inline-block;
            width: 60px;
            height: 34px;
        }

        .switch input {
            opacity: 0;
            width: 0;
            height: 0;
        }

        .slider {
            position: absolute;
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: #ccc;
            -webkit-transition: .4s;
            transition: .4s;
        }

        .slider:before {
            position: absolute;
            content: "";
            height: 26px;
            width: 26px;
            left: 4px;
            bottom: 4px;
            background-color: white;
            -webkit-transition: .4s;
            transition: .4s;
        }

        input:checked+.slider {
            background-color: #2196F3;
        }

        input:focus+.slider {
            box-shadow: 0 0 1px #2196F3;
        }

        input:checked+.slider:before {
            -webkit-transform: translateX(26px);
            -ms-transform: translateX(26px);
            transform: translateX(26px);
        }

        /* Rounded sliders */
        .slider.round {
            border-radius: 34px;
        }

        .slider.round:before {
            border-radius: 50%;
        }
    </style>
    <%- include('dashboard/header') -%>
</head>

<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <%- include('dashboard/navbar') -%>

    </div>
    <%- include('dashboard/sidebar') -%>
        <div class="content-wrapper">
            <%- include('dashboard/contentHeader',{page}) -%>
                <div class="content">
                    <div class="container-fluid">

                        <div class="row">

                            <% for(var i=0; i < page.Home.length; i++) { %>
                                <div class="col-lg">
                                    <div class="card">
                                        <div class="card-header bg-info">
                                            <strong>
                                                <h5 class="m-0">Room: <%= page.Home[i].room.roomName%>
                                                </h5>
                                            </strong>
                                        </div>

                                        <div class="card-body">
                                            <div class="card-text">
                                                Room Devices
                                            </div>
                                            <div class="row">
                                                <% for(var j=0; j < page.Home[i].room.devices.length; j++){ %>
                                                    <div class="col-lg-5">
                                                        <div class="card">
                                                            <div class="card-header bg-dark text-white">

                                                                <h6>
                                                                    <%=page.Home[i].room.devices[j].deviceName %>
                                                                </h6>

                                                            </div>
                                                            <div class="card-body">
                                                                <div class="row">


                                                                    <% let
                                                                        elem=JSON.parse(page.Home[i].room.devices[j].deviceEndpoints)[0];
                                                                        Object.keys(elem).forEach(function(key){ %>
                                                                        <div class="col">
                                                                            Control <%- elem[key] %> <br>
                                                                                Mqtt End point: <code><%-key %></code>
                                                                                <br>
                                                                                <% if(key.startsWith('/servo')){ %>
                                                                                    <label for="ll"
                                                                                        class="form-label">Servo
                                                                                        degree: </label><span
                                                                                        id="slider"></span>
                                                                                    <input type="range"
                                                                                        name="<%= '/'+page.homeName+'/'+page.Home[i].room.roomName+'/'+ page.Home[i].room.devices[j].deviceName+key%>"
                                                                                        class="form-range" min="0"
                                                                                        step="20" max="180" id="range">

                                                                                    <%}else{%>
                                                                                        <button type="button"
                                                                                            class="btn btn-primary"
                                                                                            onclick="boolCmd('<%= '/'+page.homeName+'/'+page.Home[i].room.roomName+'/'+ page.Home[i].room.devices[j].deviceName+key%>')">Trigger</button>



                                                                                        <%}%>


                                                                        </div>
                                                                        <% }) %>
                                                                            <div class="col"
                                                                                id="charts-<%=page.Home[i].room.devices[j].deviceName%>">
                                                                                <button type="button"
                                                                                    class="btn btn-info btn-lg"
                                                                                    data-toggle="modal"
                                                                                    data-target="#myModal">Open
                                                                                    Data Graphs</button>

                                                                                <!-- Modal -->
                                                                                <div class="modal fade" id="myModal"
                                                                                    role="dialog">
                                                                                    <div class="modal-dialog">

                                                                                        <!-- Modal content-->
                                                                                        <div class="modal-content">
                                                                                            <div class="modal-header">
                                                                                                <button type="button"
                                                                                                    class="close"
                                                                                                    data-dismiss="modal">&times;</button>
                                                                                            </div>
                                                                                            <div class="modal-body">
                                                                                                <p>Some text in the
                                                                                                    modal.</p>
                                                                                                <canvas id="myChart"
                                                                                                    deviceName="<%=page.Home[i].room.devices[j].deviceName%>"></canvas>
                                                                                            </div>
                                                                                            <div class="modal-footer">
                                                                                                <button type="button"
                                                                                                    class="btn btn-default"
                                                                                                    data-dismiss="modal">Close</button>
                                                                                            </div>
                                                                                        </div>

                                                                                    </div>
                                                                                </div>
                                                                            </div>


                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <% } %>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <% } %>
                        </div>
                    </div>
                </div>
        </div>


</body>
<%- include('dashboard/scripts') -%>

    <script>
        var slider = document.getElementsByClassName("form-range");
        console.log(slider);
        for (i = 0; i < slider.length; i++) {
            slider[i].oninput = function () {

                let body = { topic: this.name, msg: this.value };
                console.log(body);
                httpRequest("/api/publish", 'post', body);
                var output = slider[i].getElementById("slider");
                output.innerHTML = slider.value;
                output.innerHTML = '<br>' + '<code>' + this.name + '</code> = ' + this.value;
            }
        }


        async function httpRequest(endpoint, type, body = null) {

            console.log("RequestUrl:", endpoint);
            const fetchOptions = {
                method: type,
                credentials: "same-origin",
                headers: {
                    'Accept': 'application/json, text/plain, */*',
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(body)

            };
            if (body === null) {
                delete fetchOptions.body;
            }
            const response = await fetch(location.protocol + '//' + location.host + endpoint, fetchOptions);

            if (!response.ok) {
                const errorMessage = await response.text();
                throw new Error(errorMessage);
            }

            console.log("response:", response);
            return (response.text());

        }


    </script>

    <script>
        var ctx = document.getElementById("myChart").getContext('2d');
        var device = document.getElementById("myChart");
        window.onload = async () => {
            let datas = JSON.parse(await httpRequest("/api/data?deviceName=" + device.getAttribute("deviceName"), 'get'));
            let types = Object.keys(datas);
            console.log(types);
        }

        const myChart = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
                datasets: [{
                    label: '# of Votes',
                    data: [12, 19, 3, 5, 2, 3],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
    <script>
        $('#exampleModal').on('show.bs.modal', function (event) {

            var button = $(event.relatedTarget);
            var modal = $(this);
            var canvas = modal.find('.modal-body canvas');

            // Chart initialisieren
            var ctx = canvas[0].getContext("2d");
            var chart = new Chart(ctx).Line({
                labels: ["January", "February", "March", "April", "May", "June", "July"],
                datasets: [
                    {
                        fillColor: "rgba(190,144,212,0.2)",
                        strokeColor: "rgba(190,144,212,1)",
                        pointColor: "rgba(190,144,212,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(220,220,220,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    },
                    {
                        fillColor: "rgba(151,187,205,0.2)",
                        strokeColor: "rgba(151,187,205,1)",
                        pointColor: "rgba(151,187,205,1)",
                        pointStrokeColor: "#fff",
                        pointHighlightFill: "#fff",
                        pointHighlightStroke: "rgba(151,187,205,1)",
                        data: [65, 59, 80, 81, 56, 55, 40]
                    }
                ]
            }, {});
        });

    </script>

    <script>
        async function boolCmd(topic) {
            console.log(topic);
            await httpRequest("/api/publish", 'post', { topic, msg: "2" });
        }

    </script>


</html>